<div class="container">
    <button id="rotateButton">click</button>
    <div class="smallCircle1">
        <div class="info-column">
            <img src="../../assets/home/buoy.png" alt="Buoy Image" class="buoy-image">

            <span class="value">Station 1</span>

        </div>
    </div>
    <div class="main_station_name">
        <div class="stationname">
            <div class="lines"></div>
            <div class="section top-1">
                <div class="info-column">
                    <div class="info-item">
                        <img class="locationimg" src="../../../../assets/gif/location.gif" alt="location">
                    </div>
                    <div class="info-item">
                        <span class="label">Lat: </span>
                        <span class="value">23454646</span>
                    </div>

                    <div class="info-item">
                        <span class="label">Long: </span>
                        <span class="value">2343543</span>
                    </div>
                </div>
            </div>
            <div class="section top-2">
                <div class="info-column1">
                    <app-battery></app-battery>
                </div>
            </div>
            <div class="section bottom-1">
                <div class="info-column1">
                    <div class="info-item">
                        <span class="label">Online: </span>
                        <span class="color1"></span>
                    </div>

                    <div class="info-item">
                        <span class="label">Offline: </span>
                        <span class="color2"></span>
                    </div>
                </div>
            </div>
            <div class="section bottom-2">
                <div class="info-column">
                    <div class="info-item">
                        <img class="locationimg" src="../../../../assets/gif/location.gif" alt="location">
                    </div>
                    <div class="info-item">
                        <span class="label">Lat: </span>
                        <span class="value">23454646</span>
                    </div>

                    <div class="info-item">
                        <span class="label">Long: </span>
                        <span class="value">2343543</span>
                    </div>
                </div>
            </div>
            <!-- <div class="section smallCircle">
                <div class="info-column">
                    <img src="../../assets/home/buoy.png" alt="Buoy Image" class="buoy-image">
    
                    <span class="value">Station 1</span>
    
                </div>
            </div> -->
        </div>
    </div>

</div>