<!-- <div class="container"> -->
<!-- <button class="button" id="rotateButton">click</button> -->
<div class="smallCircle">
    <img src="../../assets/home/buoy.png" alt="Buoy Image" class="buoy-image">
    <span class="value">{{buoyName}}</span>
</div>

<div class="main_station_name">
    <div class="stationname">
        <div class="lines"></div>
        <div class="section top-1">
            <!-- <div class="info-column0"> -->
            <!-- <div class="info-item"> -->
            <img class="locationimg" src="../../../../assets/gif/loco.gif" alt="location">
            <!-- </div> -->
            <div class="info-item">
                <span class="label">Lat: </span>
                <span class="value">{{latitude}}</span>
            </div>

            <div class="info-item">
                <span class="label">Lon: </span>
                <span class="value">{{longitude}}</span>
            </div>
        </div>
        <!-- </div> -->

        <!-- <div class="section top-2">
            <app-battery></app-battery>
        </div> -->
        <div class="section bottom-1">
            <!-- <div class="info-column1"> -->
            <div class="info-item">
                <span class="label">Online : </span>
                <!-- <span class="color1"></span> -->
                <!-- <img class="color1" src="../../../../assets/home/buoy.png" alt="online"> -->
                <img class="color1" src="../../../../assets/home/active.png" alt="online">
            </div>



            <!-- <div class="info-item">
                <span class="label">Inactive: </span>
                <img class="color2" src="../../../../assets/home/inactive.jpg" alt="online">
            </div> -->
        </div>
        <div class="section bottom-2">

            <div class="info-item">
                <span class="label">Drift: </span>
                <span class="value">{{status}}</span>

            </div>
            <!-- <div class="section smallCircle">
                <div class="info-column">
                    <img src="../../assets/home/buoy.png" alt="Buoy Image" class="buoy-image">
    
                    <span class="value">Station 1</span>
    
                </div>
            </div> -->
        </div>
    </div>

    <!-- </div> -->